In [1]:
print("hello world")

hello world

#### learning Python

In [2]:
varx = 30
vary = "cake"
varz = 45.67

In [3]:
print(type(varx))

<class 'int'>

In [4]:
print(type(vary))

<class 'str'>

In [5]:
print(type(varz))

<class 'float'>

In [6]:
varz = "sports"

In [7]:
print(type(varz))

<class 'str'>

In [8]:
# comments

In [9]:
""" """

' '

In [1]:
x = y = z = 100

In [2]:
print("x =", x)
print("y =", y)
print("z =", z)

x = 100
y = 100
z = 100

In [3]:
x, y , z = "hi", 100, 33.67

In [4]:
print("x =", x)
print("y =", y)
print("z =", z)

x = hi
y = 100
z = 33.67

In [5]:
33/7

4.714285714285714

In [6]:
33%7

5

In [7]:
33//7    # floor division

4

In [8]:
4*3

12

In [9]:
4**3     # power of

64

In [10]:
10**2

100

In [11]:
dn = ['L', 'misa', 'ryuk', 'yagami']

In [12]:
'yagami' in dn

True

In [13]:
'h' in "massmutual"

False

In [14]:
type(dn) is list

True

In [15]:
type(x) is list

False

In [16]:
type(x) is not list

True

In [17]:
dn

['L', 'misa', 'ryuk', 'yagami']

In [18]:
tuple(dn)

('L', 'misa', 'ryuk', 'yagami')

In [19]:
dn

['L', 'misa', 'ryuk', 'yagami']

In [20]:
tupa = tuple(dn)

In [21]:
tupa

('L', 'misa', 'ryuk', 'yagami')

In [22]:
dn.sort()

In [23]:
# error
tupa.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [24]:
data = 33.45
datb = "45.67"
datc = 100
datd = "hello"

In [25]:
int(data)

33

In [26]:
print(type(datb))

<class 'str'>

In [27]:
x = float(datb)

In [28]:
x

45.67

In [29]:
print(type(x))

<class 'float'>

In [30]:
str(datc)

'100'

In [33]:
datd

'hello'

In [34]:
int(datd)

ValueError: invalid literal for int() with base 10: 'hello'

In [35]:
datd

'hello'

In [36]:
list(datd)

['h', 'e', 'l', 'l', 'o']